/**
 TODO(you): Write the CSS necessary to complete HW1!
*/

body {
    height: 1vh;
    margin: 0;
}

header {
    height: 500px;
    display: flex;
    background-size: cover;
    background-image: url("../images/header.jpg");
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    max-width: 780px;
    text-align: center;
}

#profile {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
}

#profile>img {
    margin-top: -50px;
    height: 100px;
    border-radius: 50px;
}

#profile>h2 {
    font-size: 18px;
    font-weight: bold;
}

#profile em {
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
}

section {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-bottom: 120px;
    justify-content: center;
}

.content {
    width: 66.67%;
    margin-left: 40px;
}

.content>h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.number {
    font-family: 'Roboto Slab', serif;
    color: rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
}

.content>img {
    width: 100%;
}

a {
    color: #42b4d6;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.content>p {
    color: rgb(51, 51, 51);
    line-height: 32px;
}